.maincontent {
  margin: rem(112px) 0 0 0;
  background-color: #f3f4f7;
  padding-left: rem(222px);
}

.maincontent__title {
  font-weight: 800;
  font-size: rem(36px);
  color: #202439;
  margin-bottom: rem(28px);
}

.maincontent__subtitle {
  font-size: rem(14px);
  margin-bottom: rem(18px);
}